@model MLike
    <div class="likebutton">
@{
    bool likes = false;
    int count = 0;
    @foreach(MLike like in @ViewBag.MLikes)
    {
        if (like.UserId==@ViewBag.User.UserId && like.MessageId==((@ViewData["MessageId"] as int?).Value))
        {
            likes= true;
            <form action="UnlikeMessage" method = "post">
            <input type="hidden" name="MLikeId" value="@like.MLikeId">
            <input class="unlike" value="Unlike" type="submit">
            </form>
        }
        if(like.MessageId==@ViewData["MessageId"] as int?)
        {
        count ++;
        }
    }
    @if (likes==false)
    {
        <form asp-action="AddMLike" asp-controller="Like" method="post">
        <input type="hidden" asp-for="UserId" value= "@ViewBag.User.UserId">
        <input type="hidden" asp-for="MessageId" value = "@ViewData["MessageId"]">
        <input class="like" value="Like" type="submit">
        </form>
    }
}
    </div>
    <p class="likecount">This message has been liked @count times!</p>